/*
1.Posicionamiento
2.Modelo decaja
3.Tipografia
4.Estilos visuales
5. Otros
*/


.cards-banner-one{
	width: 100%;
	height: 350px;
	margin-bottom: 40px;
	background-image: url('https://i.postimg.cc/D0X10yW2/tech-red.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.banner-text-container-one{
	width: 40%;
	padding: 90px 0 0 30px;
	
	h2{
		margin-bottom: 25px;
	}

}