/*
1.Posicionamiento
2.Modelo decaja
3.Tipografia
4.Estilos visuales
5. Otros
*/

.button{
	display: inline-block;
	margin: 10px 10px;
	cursor: pointer;
	border: 1px solid white;
	font-weight: bold;
	padding: 10px 20px;
	background-color: #262626;
	color: white;
	font-size: 1.5rem;
	&:hover{
		opacity: 0.5;
		border-bottom: 1px solid white;
	}
	i{
		margin-left: 10px;
	}
}




@mixin pattern-background{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23540606' fill-opacity='0.4'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	font-size: 62.5%;
}

body{
	width: 90%;
	margin: auto;
	font-size: 1.6rem;
	font-family: 'Oswald', sans-serif;;
	background-color: black;
	color: white;
	@include pattern-background();
}
a{
	text-decoration: none;
	color: white;

	&:hover{
		border-bottom: 2px solid white;
	}
}
ul{
	list-style: none;
}

