.news-cards-one{
	display: grid;
	grid-template-columns: repeat(1,1fr);
}

.news-cards-two{
	display: grid;
	grid-template-columns: repeat(1,1fr);
}


.banner-text-container-one{
	width: 90%;

}
.banner-text-container-two{
	width: 90%;

}