section.cards-banner-one
	.banner-text-container-one
		h2 Lorem, ipsum dolor.
		p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, perspiciatis nulla consequuntur eaque iusto esse adipisci delectus aut natus nostrum.
		+button("#","Learn more","fas fa-angle-double-right")

		