footer
	.footer-container
		ul
			li
				a(href="#")
					h3 Title one
			+li("BlockChain","#")
			+li("BlockChain","#")
			+li("BlockChain","#")
			+li("BlockChain","#")
			+li("BlockChain","#")
			+li("BlockChain","#")
	
	
		ul
			li
				a(href="#")
					h3 Title one
			+li("BlockChain","#")
			+li("BlockChain","#")
			+li("BlockChain","#")
			+li("BlockChain","#")
			+li("BlockChain","#")
			+li("BlockChain","#")
	
	
		ul
			li
				a(href="#")
					h3 Title one
			+li("BlockChain","#")
			+li("BlockChain","#")
			+li("BlockChain","#")
			+li("BlockChain","#")
			+li("BlockChain","#")
			+li("BlockChain","#")

	
		ul
			li
				a(href="#")
					h3 Title one
			+li("BlockChain","#")
			+li("BlockChain","#")
			+li("BlockChain","#")
			+li("BlockChain","#")
			+li("BlockChain","#")
			+li("BlockChain","#")
	
	.copy-right
		h3 Tech News copyright

		
	
	

