header
	nav.nav-main
		img(src="https://i.imgur.com/szBGwQV.png", alt="technews logo",class="nav-brand")
		ul.nav-menu
			+li("Web Development","#")
			+li("Blochain","#")
			+li("Aritificial Intelligence","#")
			+li("Machine learning","#")
			+li("Quantum computing","#")
			+li("Startup","#")
			+li("More","#")
		ul
			li
				a(href="#")
					i(class="fas fa-search")