header
	.menu-bton
		i(class="fas fa-bars")
	nav.nav-main
		img(src="https://i.postimg.cc/q7FtKHHg/brand.png", alt="technews logo",class="nav-brand")
		ul.nav-menu-left
			+li("Web Development","#")
			+li("Blochain","#")
			+li("Aritificial Intelligence","#")
			+li("Machine learning","#")
			+li("Quantum computing","#")
			+li("Startup","#")
			+li("More","#")
		ul.nav-menu-right
			li
				a(href="#")
					i(class="fas fa-search")
	hr
	.showcase
		h2 Big News Today 
		p Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic a obcaecati dolore, omnis laborum pariatur quas voluptatem nulla, consequatur minus fugiat corrupti et error inventore quia, expedita sunt itaque! Doloribus.
		+button("#","Learn more","fa-angle-double-right") 
