section.news-cards-one
	+card("news1","https://i.postimg.cc/tC9gY4n2/news1.jpg",
	"one news",
	"	Lorem ipsum dolor sit",
	"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, optio fuga. Quaerat nostrum reprehenderit voluptate!",
	"#","learn more","fa-angle-double-right"
	)
	+card("news2","https://i.postimg.cc/qBytNFbM/news2.jpg",
	"one news",
	"	Lorem ipsum dolor sit",
	"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, optio fuga. Quaerat nostrum reprehenderit voluptate!",
	"#","learn more","fa-angle-double-right"
	)
	+card("news3","https://i.postimg.cc/6pgwLWTs/news3.jpg",
	"one news",
	"	Lorem ipsum dolor sit",
	"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, optio fuga. Quaerat nostrum reprehenderit voluptate!",
	"#","learn more","fa-angle-double-right"
	)
	+card("news4","https://i.postimg.cc/PfyjVzNQ/news4.jpg",
	"one news",
	"	Lorem ipsum dolor sit",
	"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, optio fuga. Quaerat nostrum reprehenderit voluptate!",
	"#","learn more","fa-angle-double-right"
	)

	

		
