section.social-content
	p Follow TechNews 
	.links
		a(href="#")
			i(class="fab fa-facebook-square")
		a(href="#")
			i(class="fab fa-instagram-square")
		a(href="#")
			i(class="fab fa-twitter-square")
